@layer components{
  .flight-search{
    background-color: var(--blue-400);
    padding: 2rem var(--p-left-right);
  }
  .flight-search select{
    /*height: 2.5rem;*/
    border-radius: 7px;
    border: 1px solid #617A81;
    font-weight: 700; 
  }
  .flight-search label{
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .flight-search__search-fields{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-bottom: 2rem;
  }
  @media screen and (max-width: 900px) {
    .flight-search__search-fields{
    grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (max-width: 500px) {
    .flight-search__search-fields{
    grid-template-columns: 1fr;
    }
  }
  .flight-search__input-group{
    width: 100%;
  }
  .flight-search__input-group *{
    display: block;
    width: 100%;
  }
}