@layer components{
  .success-information{
    background-color: var(--blue-400);
    padding-bottom: 8rem;
    margin-bottom: -8rem;
    display: flex; 
    align-items: center;
    flex-direction: column;
   }
   .success__title{
    color: var(--white);
    text-align: center;
   }
   .booking-card__passenger-name{
    font-weight: 700;
   }
   .booking-card{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--white);
    padding: 2rem;
    border-radius: 24px;
    margin-top: 2rem;
   }
}